<%- include('partials/head')%>

<body>
    <%- include('partials/navbar')%>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita doloremque, explicabo aliquid molestias quasi accusantium cum nemo assumenda corporis veniam. Fuga magni accusamus tempora commodi veniam quisquam nulla autem qui.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, hic. Voluptas, cupiditate distinctio? Eaque quae possimus error hic aliquid laborum perspiciatis, quaerat, earum necessitatibus enim beatae dolores magnam natus ullam.</p>
</body>

</html>